Flask==2.0.1
Werkzeug==2.0.1
Jinja2==3.0.1
itsdangerous==2.0.1
gunicorn==20.1.0
python-dotenv==0.19.0
requests==2.26.0
Flask-Session==0.4.0
Flask-Talisman==0.8.0
supabase-py==0.5.8
segno==1.3.1
Pillow==8.3.1
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.10
importlib_metadata==8.6.1
invoke==1.7.3
jaraco.context==6.0.1
jaraco.functools==4.4.0
Jinja2==3.1.6
keyring==25.6.0
MarkupSafe==3.0.2
more-itertools==10.6.0
nh3==0.2.21
packaging==24.2
pkginfo==1.12.1.2
postgrest==0.10.7
pyasn1==0.6.1
pydantic==2.11.2
pydantic_core==2.33.1
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-gitlab==3.15.0
python-jose==3.3.0
python-semantic-release==7.33.2
pywin32-ctypes==0.2.3
readme_renderer==44.0
realtime==1.0.6
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
rsa==4.9
segno==1.5.2
semver==2.13.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
storage3==0.5.3
StrEnum==0.4.15
supabase==1.0.3
supafunc==0.2.2
tomlkit==0.13.2
tqdm==4.67.1
twine==3.8.0
typing-inspection==0.4.0
typing_extensions==4.13.1
urllib3==1.26.20
Pillow==10.2.0
WTForms==3.2.1
zipp==3.21.0
psycopg2-binary==2.9.9
openpyxl==3.1.2
pandas==2.1.4
plotly==5.18.0
google-auth-oauthlib==1.0.0
google-auth==2.22.0
google-api-python-client==2.97.0
google-calendar-api==2.0.0
geopy==2.4.1
qrcode==7.4.2
Werkzeug==2.3.7
vercel-wsgi==0.3.0
